nav {
    background-color: #00774e;
}

body nav ul li a {
    font-size: 1.75em;
    margin-top: 0px;
}

body nav ul {
    margin: 0px 0px;
    border: none;
    padding: 15px 0px;
}

td {
    word-break: break-all;
}

body {
    text-align: center;
}

body nav ul li a:link, a:visited {
    list-style: none;
    text-decoration: none;
}

body nav ul li a:hover, a:active {
    color: #ffb00b;
}

section {
    margin-top: 5em;
}

p {
   padding: 0.5em 2em;
}

section a, section a:visited {
    list-style: none;
    text-decoration: none;
    color: #fff;
}

a:hover, li a:active {
    color: #ffb00b;
}

a:link, a:visited {
    list-style: none;
    text-decoration: none;
    color: #fff;
}

a {
    color: #fff;
    text-shadow:1px 1px 2px black, 0 0 5px blue, 0 0 5px #428bca;
}

section a:hover, section a:active {
    color: #ffb00b;
    text-decoration: none;
}
