form table tr th {
    margin:  15px 15px;
}

body {
    text-align: center;
}
nav ul {
    list-style: none;
    margin: 20px 0px;
}

h2 {
    font-size: 1.75em;
}


nav ul li a {
    font-size: 1.75em;
}

table {
    border-collapse: separate;
    margin: 1em auto;
    width: 90%;
    height: 8%;
    word-break: break-all;
}

section table tbody td th {
    width: 38%;
    overflow: auto;
    padding: 10px 10px;
}

body section table tbody td th {
    padding: 10px 10px;
}