form table tr th {
    margin:  15px 15px;
}


h2 {
    font-size: 1.75em;
}


table {
    border-collapse: separate;
    margin: 1em auto;
    width: 90%;
    height: 8%;
}



.bad_table tbody tr th {
    padding: 10px 10px;
}
.bad_table td {
    padding: 10px 10px;
}


.offline th {
    background-color: #f2b9b5;
}

.problem th {
    background-color: #f2e1b5;
}

.healthy th {
    background-color: #b5f2b9;
}


