form table tr th {
    margin:  15px 15px;
}

body {
    text-align: center;
}
nav ul {
    list-style: none;
    
    margin: 20px 0px;
}

h2 {
    font-size: 1.75em;
}


nav ul li a {
    font-size: 1.75em;
}

table {
    margin: 1em auto;
    border-collapse: separate;
    border-spacing: 20px;
}
section a {
    color: #e73a32;
}

section h2 a:hover, section h2 a:active {
    color: #ffb00b;
    text-decoration: none;
}

section a, section a:visited {
    list-style: none;
    text-decoration: none;
    color: green;
}
