<html lang="en-GB">
    <head>
        <meta charset = "utf-8" >
        <title>
            IsItUpZA - A Website Monitor for Essential South African Digital Services
        </title>
        <link rel="stylesheet" href="base.css" />
        <meta name="author" content="Landon Simmons and Roger Gordon" >
        <meta name="description" content="A website monitor for keeping track of essential South African digital services. We display a lit of sites that are offline, showing errors, or are healthy. You can also submit a site for us to add to our monitoring list. See our twitter feed, @IsItUpZA" >
        <meta name="keywords" content="South Africa, South African Government, Government, Digital Services, E-Services, Website, Monitor" >
    </head>

    <body>

    </body>
</html>
