{% load static %}
<html lang="en-GB">
    <head>
        <meta charset = "utf-8" >
        {% block title %}
        <title>
            IsItUpZA - A Website Monitor for Essential South African Digital Services
        </title>
        {% endblock %}
        <meta name="author" content="Landon Simmons and Roger Gordon" >
        <meta name="description" content="A website monitor for keeping track of essential South African digital services. We display a lit of sites that are offline, showing errors, or are healthy. You can also submit a site for us to add to our monitoring list. See our twitter feed, @IsItUpZA" >
        <meta name="keywords" content="South Africa, South African Government, Government, Digital Services, E-Services, Website, Monitor" >
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        {% block style %}
        {% endblock %}
        
    </head>

    <body>

        <nav>
            <ul class="navbar nav-pills nav-justified">
                <li role="presentation" class="active">
                    <a href="/" title="home">
                        Home
                    </a>
                </li>
                <li role="presentation">
                    <a href="admin" title="Administration Section">
                        Admin
                    </a>
                </li>
                <li role="presentation">
                    <a href="submit" title="Submit a website for monitoring">
                        Submit a Website for Monitoring
                    </a>
                </li>
            </ul>
        </nav>
        <hgroup>
            <h1>
                IsItUpZA
            </h1>
            <h2>
                A Website Monitor for Essential South African Digital Services
            </h2>
        </hgroup>
        {% block content %}
        {% endblock %}

    </body>
</html>
