{% extends 'base.html' %}
{% load static %}
{% block title %}
        <title>
            IsItUpZA - Contact Us
        </title>
{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'interface/contact.css' %}" />
{% endblock %}
{% block content %}
<section>
<h3>
    Get updates on misbehaving websites and Contact Us.<br><br>
    <a href="https://twitter.com/IsItUpZA">Twitter</a><br><br>
    <a href="mailto:spam@gorrog.org">Roger</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="mailto:landonsimmonsemail@gmail.com">Landon</a>    
</h3>
</section>
{% endblock %}