{% extends "base.html" %}
{% block title %}
        <title>
            IsItUpZA - A Website Monitor for Essential South African Digital Services
        </title>
{% endblock %}
{% block content %}
<section>
    <h2 id='Offline'> Offline Sites Being Monitored</h2>
    <p>
    The following sites are completely offline and cannot be reached by our monitoring application.
    </p>
    <table border='1'>
        <tr>
            <th>
            Site name
            </th>
            <th>
            URL (website address) to be monitored
            </th>
        </tr>
        {% for site in offline_sites_list %}
        <tr>
            <td>
            {{ site.site_name }}
            </td>
            <td>
            {{ site.url }}
            </td>
        </tr>
        {% endfor %}
    </table>
    </ul>
</section>

<section>
    <h2 id='Problem'> Problem Sites Being Monitored</h2>
    <table border='1'>
        <tr>
            <th>
            Site name
            </th>
            <th>
            URL (website address) to be monitored
            </th>
            <th>
            Current error
            </th>
        </tr>
        {% for site in down_sites_list %}
        <tr>
            <td>
            {{ site.site_name }}
            </td>
            <td>
            {{ site.url }}
            </td>
            <td>
            {{ site.last_status }}
            </td>
        </tr>
        {% endfor %}
    </table>
    </ul>
</section>

<section>
    <h2 id='Healthy'> Healthy Sites Being Monitored</h2>
    <table border='1'>
        <tr>
            <th>
            Site name
            </th>
            <th>
            URL (website address) to be monitored
            </th>
        </tr>
        {% for site in up_sites_list %}
        <tr>
            <td>
            {{ site.site_name }}
            </td>
            <td>
            {{ site.url }}
            </td>
        </tr>
        {% endfor %}
    </table>
    </ul>
</section>
{% endblock %}