{% extends "base.html" %}
{% load static %}
{% block title %}
        <title>
            IsItUpZA - A Website Monitor for Essential South African Digital Services
        </title>
{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'interface/index.css' %}" />
{% endblock %}
{% block content %}
<section>
    <h2 id='Offline'> Offline Sites Being Monitored</h2>

    <table border='1' class="bad_table offline">
        <tr>
            <th>
            Site name
            </th>
            <th>
            URL (website address) being monitored
            </th>
            <th>
            Last checked
            </th>

        </tr>
        {% for site in offline_sites_list %}
        <tr class="bad_table">
            <td>
            {{ site.site_name }}
            </td>
            <td>
            {{ site.url }}
            </td>
            <td>
            {{ site.last_checked }}
            </td>
        </tr>
        {% endfor %}
    </table>
    </ul>
</section>

<section>
    <h2 id='Problem'> Problem Sites Being Monitored</h2>
    <table border='1' class="bad_table problem">
        <tr>
            <th>
            Site name
            </th>
            <th>
            URL (website address) being monitored
            </th>
            <th>
            Current error
            </th>
            <th>
            Last checked
            </th>
        </tr>
        {% for site in down_sites_list %}
        <tr class="bad_table">
            <td>
            {{ site.site_name }}
            </td>
            <td>
            {{ site.url }}
            </td>
            <td>
            {{ site.last_status }}
            </td>
            <td>
            {{ site.last_checked }}
            </td>
        </tr>
        {% endfor %}
    </table>
    </ul>
</section>

<section>
    <h2 id='Healthy'> Healthy Sites Being Monitored</h2>
    <table border='1' class="bad_table healthy">
        <tr>
            <th>
            Site name
            </th>
            <th>
            URL (website address) being monitored
            </th>
            <th>
            Last checked
            </th>
        </tr>
        {% for site in up_sites_list %}
        <tr class="bad_table">
            <td>
            {{ site.site_name }}
            </td>
            <td>
            {{ site.url }}
            </td>
            <td>
            {{ site.last_checked }}
            </td>
        </tr>
        {% endfor %}
    </table>
    </ul>
</section>
{% endblock %}
