<!--{% if latest_question_list %}-->
<!--    <ul>-->
<!--    {% for question in latest_question_list %}-->
<!--       <li><a href="{% url 'interface:detail' question.id %}">{{ question.question_text }}</a></li>-->
<!--    {% endfor %}-->
<!--    </ul>-->
<!--{% else %}-->
<!--    <p>No polls are available.</p>-->
<!--{% endif %}-->

Hello world. This is the index page. It will soon display a list of all the sites being monitored along with statuses.

<h2> Offline Sites Being Monitored</h2>
<p>
The following sites are completely offline and cannot be reached by our monitoring application.
</p>
<table border='1'>
    <tr>
        <th>
        Site name
        </th>
        <th>
        URL (website address) to be monitored
        </th>
    </tr>
    {% for site in offline_sites_list %}
    <tr>
        <td>
        {{ site.site_name }}
        </td>
        <td>
        {{ site.url }}
        </td>
    </tr>
    {% endfor %}
</table>
</ul>

<h2> Problem Sites Being Monitored</h2>
<table border='1'>
    <tr>
        <th>
        Site name
        </th>
        <th>
        URL (website address) to be monitored
        </th>
        <th>
        Current error
        </th>
    </tr>
    {% for site in down_sites_list %}
    <tr>
        <td>
        {{ site.site_name }}
        </td>
        <td>
        {{ site.url }}
        </td>
        <td>
        {{ site.last_status }}
        </td>
    </tr>
    {% endfor %}
</table>
</ul>

<h2> Healthy Sites Being Monitored</h2>
<table border='1'>
    <tr>
        <th>
        Site name
        </th>
        <th>
        URL (website address) to be monitored
        </th>
    </tr>
    {% for site in up_sites_list %}
    <tr>
        <td>
        {{ site.site_name }}
        </td>
        <td>
        {{ site.url }}
        </td>
    </tr>
    {% endfor %}
</table>
</ul>