{% extends 'base.html' %}
{% load static %}
{% block title %}
        <title>
            IsItUpZA - Thank You
        </title>
{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'interface/thanks.css' %}" />
{% endblock %}
{% block content %}
<section>
<h2 class="isolate_thanks_links">
Thank you! Thank you very much for you submission. <br><br>
Next steps: <a href=../submit/>add another site</a>,
            or <a href="../">return to the home page</a>.
</h2>
</section>
{% endblock %}
